.line-Chart {
    width: 600px; 
    height: auto;
  }
  
  @media (max-width: 768px) { 
    .line-Chart {
      width: 400px; 
      padding: 0 10px; 
    }
  }
  
  @media (max-width: 480px) { 
    .line-Chart {
      width: 300px;
      height: auto;
    }
  }